<div>
<h1>Ashley Hui</h1>
</div>
<!-- <img src="file:///Users/ashleyhui/Documents/Berkeley/Fall%202016/rails/fa16&#45;hw2/app/assets/images/me.png" alt="Me" style="width:253px;height:432px;"> -->
<%= image_tag("me.png") %>
<div>
<p style="color:white; background-color:green;">Fremont, CA</p>
</div>
<p>Senior</p>
<p style="color:red;"><b> I can pick a lock.</b></p>
<p style="color:orange;"><u>I'm excited for the projects.</u></p>
